<div class='row'>
  <div class='col-12'>
    <div class='card'>
      <div class='card-body text-center py-4'>
        <h2>There are <%= status + " " + type %> Events</h2>
      </div>
    </div>
  </div>
</div>