<div class='row'>
  <% if has_menu %>
      <div class='col-12 text-center mb-3' style="margin-top: 65px;">
  <% else %>
    <div class='col-12 text-center my-3'> 
  <% end %>
    <h1 class='display-4'><%= title %></h1>
  </div>
</div>