<div class='row justify-content-md-center'>
  <div class='col-10 header-blue'>
    <h3 class='w'>Activities</h3>
  </div>
</div>
<div class='row my-3'>
  <div class='col-10 offset-1'>
    <ul>
      <%= render @event.activities %>
    </ul>
  </div>
</div>