<% # TODO Wire donation query to donation table %>
<% # TODO Add link_to new donation form for event %>
<% # TODO Use social helper %>
<% # TODO add pagination for donations %>
<%= render 'header_nav_show' %>
<%= render 'shared/title', title: "Event Donations", display: 4, has_menu: true %>
<div class='row mb-2'>
  <div class='col-lg-6 col-md-8 offset-lg-3 offset-md-2 text-center'>
    <p>Donations are a great way for you to be a part of an event even if you aren't able to attend and be made at any time. 
    While you can give directly to the event you can also show your support for a friend or family member and help them top our fundraising charts.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-lg-8 offset-lg-2 col-sm-10 offset-sm-1'>
    <div class="card card-block" style='min-height: 550px;'>
      <div class='row text-md-center'>
        <% # FIXME doesn't include name of user that gave the donation %>
        <% @donations.each do |donation| %>
        <div class='col-md-6 my-4' style='border-bottom: 1px solid #eee;'>
          <h5>Richard Wise - Donation of <%= number_to_currency(donation.amount) %></h5>  
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='row mt-4'>
  <div class='col-lg-6 col-md-8 offset-lg-3 offset-md-2 text-center'>
    <a href='#' class='btn btn-lg btn-shadow btn-yellow w mb-3'>Make a Donation</a>
    <a href='#' class='btn btn-lg btn-shadow btn-red w mb-3'>Make a Donation</a>
    <p>All money given to this event help fund the search for a cure for Neurofibromatsis. </p>
  </div>
</div>
