<%= render "shared/title", title: "Events", display: 4, has_menu: false %>
<div class='row justify-content-center'>
  <div class='col-md-8 col-lg-6 text-center'>
    <p>
      #NFStrong events take place in communities nationwide. These inspiring events create strong bonds that build a supportive NF community.
      The goal of these strong communities is to rally together and become one great voice in finding affective treatments and an eventual cure for NF.
    </p>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <% @events.each_with_index do |e, i| %>
      <%= render 'event', event: e, index: i %>
    <% end %>
  </div>
</div>

