<div class='row my-5 py-2 px-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 mt-5'>
        <h3>About the NF Network:</h3>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <p>
          Neurofibromatosis Network was founded in 1988 as a 501(c)3 non-profit organization to join together several
          independent state and regional NF groups wishing to work together on national projects.
        </p>
        <div class='row justify-content-center my-5'>
          <div class='col-10'>
            <p class='text-center lead'><em>
              The Mission of the NF Network is to find treatments and a cure for neurofibromatosis by
              promoting scientific research, improving clinical care, providing outreach through education
              and awareness, while offering hope and support to those affected by NF.</em>
            </p>
          </div>
        </div>
        <p>We do this by:
          <ul>
            <li>Promoting federal funding of neurofibromatosis research through the development of a grassroots advocacy program</li>
            <li>Working closely with members of the House and Senate to seek increased funding for research through the National
            Institutes of Health (NIH) and the Department of Defense Congressionally Directed Medical Research Program (CDMRP)</li>
            <li>Publishing Network Edge which highlights medical and research updates</li>
            <li>Investing in the financial and promotional support of NF research</li>
            <li>Supporting Camp New Friends, an annual NF children’s camp</li>
            <li>Sponsoring educational programs for families affected by NF</li>
            <li>Maintaining a Find A Doctor national referral database</li>
            <li>Assisting in development of local NF communities</li>
          </ul>
        </p>
        <a href="http://nfnetwork.org" class='btn btn-primary text-center' target="_blank">Learn More</a>
      </div>
    </div>
  </div>
</div>