<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <h3>NF Network Privacy Policy</h3>

      <h6>I. PURPOSE</h6>
      <p>
        The NF Network (the “Network”) places a high priority on protecting the privacy of its members and website users.
        That requires that personal information entrusted to the Network be held in strict confidence.
        This privacy policy was created in order to demonstrate the Network’s firm commitment to privacy,
        and to explain how information it collects is used.
      </p>

      <h6>II. PERSONAL INFORMATION COLLECTED THROUGH THE WEBSITE</h6>
      <p>
        Individuals who register at the Network’s website, www.nfnetwork.org, and who sign up to receive the Network’s
        e-communications voluntarily provide the Network with contact information.  The Network uses this information for
        specific, limited purposes only, such as notifying registrants about upcoming fundraising events, educational programs,
        advocacy deadlines and research updates. Registrants may always “opt-out”/unsubscribe if they wish to
        discontinue electronic communication.
        <br />
        <br />
        The Network may also use Internet Protocol addresses for statistical metrics for the purpose of tracking website visitor traffic.
        In that case, aggregate data does not necessarily identify users personally, but rather relies on the number of visitors to its website.
      </p>

      <h6>III. PROTECTING PERSONAL INFORMATION</h6>
      <p>
        The Network’s website is monitored on a regular basis for security gaps and known vulnerabilities in order to make users’ visits to the site
        as safe as possible.  This includes regular malware scanning and taking other security measures that are implemented by
        a limited number of select persons.
      </p>

      <h6>IV. EMAIL PRIVACY</h6>
      <p>
        The Network does not provide, sell or rent email addresses to any individual or business outside the organization.
      </p>
      <h6>V. EXTERNAL LINKS</h6>
      <p>
        The Network’s website includes links to external websites.  These links do not fall within its domain, and the Network
        is not responsible for the privacy practices of these external sites.  Users’ connection to linked websites is at their
        own risk.  Nevertheless, the Network welcomes any feedback about these sites.
      </p>
          <h6>VI. CREDIT CARD ACCOUNT INFORMATION</h6>
      <p>
        The Network utilizes secure transaction methods when collecting credit card information over the internet.
        The Network does not disclose to any third parties credit card information provided by any visitors to its website.

      </p>
          <h6>VII.  MODIFICATIONS</h6>
      <p>
        The Network reserves the right to amend this Privacy Policy from time to time.  Modifications will be posted on the Network’s
        website.  Questions regarding this privacy policy should be directed to the Network:
      </p>
      <p>
        <strong>Neurofibromatosis Network</strong>
        <br>
        213 S. Wheaton Ave. | Wheaton, IL | 60187
        <br>
        Email: <a href="mailto:admin@nfnetwork.org">admin@nfnetwork.org</a>
        <br>
        Call: 630.510.1115 or toll-free: 800.942.6825
      </p>
    </div>
  </div>
</div>